site_name: AI From Scratch
site_description: "ML & DL implemented from scratch — Python → C++ → CUDA → Triton"
site_author: Amit Surpur
repo_url: https://github.com/AmitSurpur/ai-from-scratch

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - search.highlight
    - search.suggest
    - header.autohide
    - content.code.annotate
  palette:
    - scheme: default
      primary: indigo
      accent: purple
    - scheme: slate
      primary: indigo
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  font:
    text: Roboto

nav:
  - Home: index.md
  - Projects:
      - Introduction: projects/Introduction.md
          -Vector: projects/Introduction/Vector.md
          -Matrix: projects/Introduction/Matrix.md
      -LU Decomposition: projects/LU.md
      - Linear Regression: projects/linear-regression.md
  - Roadmap: roadmap.md

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/AmitSurpur

